<header class='flex flex-col border-b bg-white font-sans min-h-[70px] tracking-wide relative'>
    <div class='flex items-center lg:justify-center flex-wrap gap-5 relative py-3 px-10 border-gray-200 border-b lg:min-h-[80px] max-lg:min-h-[60px]'>
        <a routerLink="/"><img src="https://readymadeui.com/readymadeui.svg" alt="logo"
            class='w-36' />
        </a>

        <!-- <div class="space-x-6 md:absolute md:right-10 flex items-center max-md:ml-auto">
            <div class="inline-block border-gray-300 border-l-2 pl-6 cursor-pointer">
                <span class="material-icons text-3xl hover:text-green-700">person</span>
            </div>
        </div> -->
        
        <div class="space-x-6 md:absolute md:right-10 flex items-center max-md:ml-auto group relative">
            <div class="inline-block border-gray-300 border-l-2 pl-6 cursor-pointer">
                <button type="button" class="flex" aria-expanded="false" (click)="toggleAccountMenu()">
                    <img class="w-10 h-10 rounded-lg" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="user photo">
                </button>
        
                <div class="fixed inset-0 z-10 h-full transition-opacity duration-500" [ngClass]="{'opacity-100 visible': isAccountMenuOpen, 'opacity-0 invisible': !isAccountMenuOpen}">
                    <div class="fixed inset-0 bg-black bg-opacity-50 border-b border-gray-200" (click)="toggleAccountMenu()">
                    </div>
                </div>
        
                <div id="dropdown-user" [ngClass]="{'max-h-[500px] opacity-100': isAccountMenuOpen, 'max-h-0 opacity-0': !isAccountMenuOpen}" 
                     class="z-10 overflow-hidden transition-all duration-500 absolute right-0 mt-2 text-lg list-none bg-white shadow-lg border border-gray-100">
                    <div class="px-4 py-3 border-b border-gray-200" role="none">
                        <p class="text-sm font-bold text-green-700" role="none">Andy Rubiano</p>
                        <p class="text-sm text-gray-900 truncate" role="none">ar.andy.rubiano gmail.com</p>
                    </div>
        
                    <ul class="py-1 text-sm text-black" role="none">
                        <li>
                            <button class="flex items-center px-4 py-2 hover:bg-gray-100 w-full text-left" role="menuitem">
                                <span class="material-icons me-2 text-green-700">settings</span> Configuración
                            </button>
                        </li>
        
                        <li>
                            <button class="flex items-center px-4 py-2 hover:bg-gray-100 w-full text-left" role="menuitem">
                                <span class="material-icons me-2 text-green-700">logout</span> Cerrar sesión
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class='flex flex-wrap items-center justify-between px-10 py-3 gap-4 w-full'>
        <!-- <a routerLink="/">
            <img src="https://readymadeui.com/readymadeui.svg" alt="logo" class='w-36' />
        </a> -->
  
        <div id="collapseMenu" class='hidden lg:!block'>
            <ul class='flex gap-x-10 text-black'>
                <!-- <li class='mb-6 hidden max-lg:block'>
                    <a routerLink="/"><img src="https://readymadeui.com/readymadeui.svg" alt="logo" class='w-36' />
                    </a>
                </li> -->
                <li>
                    <a routerLink='/' routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class='block font-bold hover:text-blue-600'>
                        Home
                    </a>
                </li>

                <li class='group relative flex flex-row cursor-pointer'>
                    <div class='flex items-center font-bold hover:text-blue-700'>
                        Categorías <span class="material-icons ml-2">keyboard_arrow_down</span>
                    </div>

                    <ul class='absolute z-10 shadow-lg bg-white lg:top-5 -left-6 min-w-[250px] max-h-0 overflow-hidden group-hover:opacity-100 group-hover:max-h-[700px] group-hover:pb-4 group-hover:pt-6 transition-all duration-500'>
                        <li>
                            <a routerLink="/#" class="flex items-center w-full text-left px-4 py-2 hover:bg-gray-100 hover:text-blue-700 hover:font-bold" role="menuitem">
                                Dionaea Muscipula
                            </a>
                        </li>
                        <li>
                            <a routerLink="/#" class="flex items-center w-full text-left px-4 py-2 hover:bg-gray-100 hover:text-blue-700 hover:font-bold" role="menuitem">
                                Drosera
                            </a>
                        </li>
                        <li>
                            <a routerLink="/#" class="flex items-center w-full text-left px-4 py-2 hover:bg-gray-100 hover:text-blue-700 hover:font-bold" role="menuitem">
                                Nepenthes
                            </a>
                        </li>
                        <li>
                            <a routerLink="/#" class="flex items-center w-full text-left px-4 py-2 hover:bg-gray-100 hover:text-blue-700 hover:font-bold" role="menuitem">
                                Cephalotus follicularis
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li>
                    <a routerLink='/about' routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class='block font-bold text-black hover:text-blue-700'>
                        About
                    </a>
                </li>

                <li>
                    <a routerLink='/contact' routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class='block font-bold text-black hover:text-blue-700'>
                        Contact
                    </a>
                </li>
            </ul>
        </div>
  
        <div class='flex items-center justify-center space-x-8 max-lg:ml-auto'>
            <span class="relative">
                <span class="material-icons inline cursor-pointer text-gray-500 hover:text-red-500">favorite</span>
                <span class="absolute left-auto -ml-1 top-0 rounded-full bg-black px-1 py-0 text-xs text-white">0</span>
            </span>
    
            <span class="relative">
                <span class="material-icons inline cursor-pointer text-gray-500 hover:text-blue-700">shopping_cart</span>
                <span class="absolute left-auto -ml-1 top-0 rounded-full bg-black px-1 py-0 text-xs text-white">0</span>
            </span>

            <!-- <span class="relative">
                <span class="material-icons inline cursor-pointer text-gray-500 hover:text-blue-700">search</span>
            </span> -->
    
            <button id="toggleOpen" (click)="toggleMenu()" class="lg:hidden">
                <span class="material-icons text-3xl">menu</span>
            </button>
        </div>
    </div>

    <div class="fixed inset-0 z-10 transition-opacity duration-500" [ngClass]="{'opacity-100 visible': isMenuOpen, 'opacity-0 invisible': !isMenuOpen}">
        <div class="fixed inset-0 bg-black bg-opacity-50 border-b border-gray-200" (click)="toggleMenu()">
        </div>
    </div>

    <div [ngClass]="{'translate-x-0': isMenuOpen, '-translate-x-full': !isMenuOpen}" class="fixed left-0 top-0 bottom-0 z-10 bg-white w-1/2 min-w-[300px] shadow-md p-6 h-full transition-transform duration-500">
        <ul class='fixed bg-white w-full top-0 left-0 p-6 h-full shadow-md overflow-auto'>
            <li>
                <a routerLink='/' (click)="toggleMenu()">
                    <img src="https://readymadeui.com/readymadeui.svg" alt="logo" class='w-36' />
                </a>
            </li>

            <hr class="mt-6 w-full text-gray-200">

            <li>
                <a routerLink='/' routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenu()" class="flex items-center w-full text-left px-4 py-2 hover:bg-gray-100 hover:text-blue-700 hover:font-bold" role="menuitem">
                    Home
                </a>
            </li>

            <li>
                <button (click)="toggleSubMenu()" class="flex items-center w-full text-left px-4 py-2 hover:bg-gray-100 hover:text-blue-700 hover:font-bold">
                    Opciones <span class="material-icons ml-auto">{{ isSubMenuOpen ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</span>
                </button>
                
                <ul [ngClass]="{'max-h-[500px] opacity-100': isSubMenuOpen, 'max-h-0 opacity-0': !isSubMenuOpen}" class="transition-all duration-500 overflow-hidden pl-4 space-y-2">
                    <li>
                        <a routerLink='/opcion1' (click)="toggleMenu()" class="flex items-center w-full text-left px-4 py-2 hover:bg-gray-100 hover:text-blue-700" role="menuitem">
                            Opción 1
                        </a>
                    </li>
                    <li>
                        <a routerLink='/opcion2' (click)="toggleMenu()" class="flex items-center w-full text-left px-4 py-2 hover:bg-gray-100 hover:text-blue-700" role="menuitem">
                            Opción 2
                        </a>
                    </li>
                </ul>
            </li>

            <!-- <li class='group relative border-b py-3 flex flex-row text-gray-600 font-bold cursor-pointer'>
                <a href='javascript:void(0)'>
                    Pages
                </a>
                <span class="material-icons">keyboard_arrow_down</span>

                <ul class='absolute shadow-lg bg-white space-y-3 lg:top-5 -left-6 min-w-[250px] z-10 max-h-0 overflow-hidden group-hover:opacity-100 group-hover:max-h-[700px] px-6 group-hover:pb-4 group-hover:pt-6 transition-all duration-500'>
                    <li class='border-b py-2 '>
                        <a href='javascript:void(0)' class='hover:text-[#007bff] text-gray-600 font-bold block'>
                            About
                        </a>
                    </li>

                    <li class='border-b py-2 '>
                        <a href='javascript:void(0)' class='hover:text-[#007bff] text-gray-600 font-bold block'>
                            Contact
                        </a>
                    </li>

                    <li class='border-b py-2 '>
                        <a href='javascript:void(0)' class='hover:text-[#007bff] text-gray-600 font-bold block'>
                            Login
                        </a>
                    </li>

                    <li class='border-b py-2 '>
                        <a href='javascript:void(0)' class='hover:text-[#007bff] text-gray-600 font-bold block'>
                            Sign up
                        </a>
                    </li>

                    <li class='border-b py-2 '>
                        <a href='javascript:void(0)' class='hover:text-[#007bff] text-gray-600 font-bold block'>
                            Blog
                        </a>
                    </li>
                </ul>
            </li> -->

            <li>
                <a routerLink='/about' routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenu()" class="flex items-center w-full text-left px-4 py-2 hover:bg-gray-100 hover:text-blue-700 hover:font-bold" role="menuitem">
                    About
                </a>
            </li>

            <li>
                <a routerLink='/contact' routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenu()" class="flex items-center w-full text-left px-4 py-2 hover:bg-gray-100 hover:text-blue-700 hover:font-bold" role="menuitem">
                    Contact
                </a>
            </li>
        </ul>
    </div>
</header>