<div class="bg-cover bg-center bg-fixed" style="background-image: url('assets/images/auth/Auth.png')">
    <div class="h-screen flex justify-center items-center">
        <div class="bg-white mx-4 p-8 shadow-lg w-full max-w-2xl">
            <div class="text-center border-b border-gray-200">
                <a routerLink="/" class="mb-4 inline-block">
                  <img class="w-52 md:w-64 h-auto" [src]="logo" alt="Andy Rubiano logo">
                </a>
            </div>

            <h1 class="text-3xl font-bold my-8 text-center">¿Olvidaste tu contraseña?</h1>

            <p class="text-lg my-4 text-center">
                ¡No te preocupes, a todos nos pasa!
            </p>

            @if (formSelected == 'form_1') {
                <form class="space-y-4" [formGroup]="form_1" (ngSubmit)="onSubmitForm1()">
                    <div>
                        <label for="email" class="block font-semibold text-black mb-2"> Email <span class="text-red-500">*</span></label>
                        <input id="email" autocomplete="off"
                            type="email" 
                            formControlName="email" 
                            placeholder="name@email.com"
                            [ngClass]="{
                                'border-red-500': !form_1.controls['email'].valid && form_1.controls['email'].touched,
                                'border-green-500': form_1.controls['email'].valid && form_1.controls['email'].touched
                            }" class="border w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline"
                        />
                    </div>

                    <div class="flex items-center mb-6 space-x-4">
                        <div class="w-full">
                            <button type="submit" [disabled]="form_1.invalid || loading" class="flex flex-1 w-full justify-center focus:outline-none text-white bg-primary hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-primary dark:focus:ring-green-800 disabled:bg-green-400 disabled:opacity-50">Enviar código</button>
                        </div>
                    </div>

                    <div class="flex justify-end mb-4">
                        <a routerLink="/sign-up" class="text-blue-500 hover:underline ml-auto font-semibold">¿No tienes cuenta?</a>
                    </div>
                </form>
            } @else if (formSelected == 'form_2') {
                <form class="space-y-4" [formGroup]="form_2" (ngSubmit)="onSubmitForm2()">
                    <div class="flex mb-2 space-x-2 justify-center">
                        <div>
                            <input id="code_1" autocomplete="off"
                                type="text" 
                                formControlName="code_1" 
                                maxlength="1" 
                                (input)="focusNextInput($event, 'code_2')" (keydown)="handleKeyDown($event, null)" (paste)="handlePaste($event)" 
                                class="block text-lg w-10 h-10 lg:w-12 lg:h-12 py-3 font-bold text-center text-black bg-white border focus:ring-2 focus:ring-green-500 focus:outline-none"
                            />
                        </div>
                        
                        <div>
                            <input id="code_2" autocomplete="off"
                                type="text" 
                                formControlName="code_2" 
                                maxlength="1" 
                                (input)="focusNextInput($event, 'code_3')" (keydown)="handleKeyDown($event, 'code_1')" 
                                class="block text-lg w-10 h-10 lg:w-12 lg:h-12 py-3 font-bold text-center text-black bg-white border focus:ring-2 focus:ring-green-500 focus:outline-none"
                            />
                        </div>
                        
                        <div>
                            <input id="code_3" autocomplete="off"
                                type="text" 
                                formControlName="code_3" 
                                maxlength="1" 
                                (input)="focusNextInput($event, 'code_4')" (keydown)="handleKeyDown($event, 'code_2')" 
                                class="block text-lg w-10 h-10 lg:w-12 lg:h-12 py-3 font-bold text-center text-black bg-white border focus:ring-2 focus:ring-green-500 focus:outline-none"
                            />
                        </div>
                        
                        <div>
                            <input id="code_4" autocomplete="off"
                                type="text" 
                                formControlName="code_4" 
                                maxlength="1" 
                                (input)="focusNextInput($event, 'code_5')" (keydown)="handleKeyDown($event, 'code_3')" 
                                class="block text-lg w-10 h-10 lg:w-12 lg:h-12 py-3 font-bold text-center text-black bg-white border focus:ring-2 focus:ring-green-500 focus:outline-none"
                            />
                        </div>
                        
                        <div>
                            <input id="code_5" autocomplete="off"
                                type="text" 
                                formControlName="code_5" 
                                maxlength="1" 
                                (input)="focusNextInput($event, 'code_6')" (keydown)="handleKeyDown($event, 'code_4')" 
                                class="block text-lg w-10 h-10 lg:w-12 lg:h-12 py-3 font-bold text-center text-black bg-white border focus:ring-2 focus:ring-green-500 focus:outline-none"
                            />
                        </div>
                        
                        <div>
                            <input id="code_6" autocomplete="off"
                                type="text" 
                                formControlName="code_6" 
                                maxlength="1" 
                                (input)="focusNextInput($event, 'code_7')" (keydown)="handleKeyDown($event, 'code_5')" 
                                class="block text-lg w-10 h-10 lg:w-12 lg:h-12 py-3 font-bold text-center text-black bg-white border focus:ring-2 focus:ring-green-500 focus:outline-none"
                            />
                        </div>

                        <div>
                            <input id="code_7" autocomplete="off"
                                type="text" 
                                formControlName="code_7" 
                                maxlength="1" 
                                (input)="focusNextInput($event, null)" (keydown)="handleKeyDown($event, 'code_6')"
                                class="block text-lg w-10 h-10 lg:w-12 lg:h-12 py-3 font-bold text-center text-black bg-white border focus:ring-2 focus:ring-green-500 focus:outline-none"
                            />
                        </div>
                    </div>

                    <div class="relative">
                        <label class="block font-semibold text-black mb-2" for="password"> Contraseña <span class="text-red-500">*</span></label>
                        <input id="password" autocomplete="off"
                            [type]="isPasswordVisible ? 'text' : 'password'" 
                            formControlName="password" 
                            placeholder="Contraseña"
                            (focus)="onPasswordFocus()"
                            (blur)="onPasswordBlur()"
                            [ngClass]="{
                                'border-red-500': !form_2.controls['password'].valid && form_2.controls['password'].touched,
                                'border-green-500': form_2.controls['password'].valid && form_2.controls['password'].touched
                            }" class="border w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline"
                        />
                        
                        <button type="button" (click)="togglePasswordVisibility()" class="absolute flex items-center inset-y-0 right-0 px-3 mt-8">
                            <span class="material-icons">{{ isPasswordVisible ? 'visibility_off' : 'visibility' }}</span>
                        </button>

                        @if (!form_2.controls['password'].valid && form_2.controls['password'].touched && isPasswordFocused) {
                            <div class="relative z-10">
                                <div class="w-full max-w-[280px] p-4 bg-gray-100 shadow-lg absolute top-2 mt-2 before:w-4 before:h-4 before:rotate-45 before:bg-gray-100 before:absolute before:-top-2 before:left-6">
                                    <div class="my-2">
                                        <div class="flex flex-col items-start text-left text-sm">
                                            <span>La contraseña debe tener:</span>
                                            <div class="flex items-center">
                                                <span class="material-icons mr-2" [ngClass]="passwordCriteria.hasUpperCase ? 'text-green-500' : 'text-red-500'">{{ passwordCriteria.hasUpperCase ? 'check' : 'close' }}</span> Al menos una letra en mayúscula.
                                            </div>

                                            <div class="flex items-center">
                                                <span class="material-icons mr-2" [ngClass]="passwordCriteria.hasLowerCase ? 'text-green-500' : 'text-red-500'">{{ passwordCriteria.hasLowerCase ? 'check' : 'close' }}</span> Al menos una letra en minúscula.
                                            </div>

                                            <div class="flex items-center">
                                                <span class="material-icons mr-2" [ngClass]="passwordCriteria.hasSpecialChar ? 'text-green-500' : 'text-red-500'">{{ passwordCriteria.hasSpecialChar ? 'check' : 'close' }}</span> Al menos un carácter especial.
                                            </div>

                                            <div class="flex items-center">
                                                <span class="material-icons mr-2" [ngClass]="passwordCriteria.hasNumber ? 'text-green-500' : 'text-red-500'">{{ passwordCriteria.hasNumber ? 'check' : 'close' }}</span> Al menos un número.
                                            </div>

                                            <div class="flex items-center">
                                                <span class="material-icons mr-2" [ngClass]="passwordCriteria.isValidLength ? 'text-green-500' : 'text-red-500'">{{ passwordCriteria.isValidLength ? 'check' : 'close' }}</span> Entre 8 y 20 caracteres.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="flex items-center mb-6 space-x-4">
                        <div class="w-full">
                            <button type="submit" [disabled]="form_2.invalid || loading " class="flex flex-1 w-full justify-center text-white bg-primary hover:bg-green-800 font-medium px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-primary dark:focus:ring-green-800 disabled:bg-green-400 disabled:opacity-50">Enviar código</button>
                        </div>
                    </div>
                </form>
            }

            <div class="flex flex-wrap justify-center space-x-2">
                <!-- URL de descarga de íconos tamaño 48px X 48px https://iconos8.es/icons/set/social-media -->
                <a href="https://www.facebook.com/RubianoAndy" target="_blank">
                  <img src="assets/images/social media/Facebook.png" alt="Facebook" style="width: 35px; height: auto;">
                </a>
        
                <a href="https://www.instagram.com/RubianoAndy" target="_blank">
                  <img src="assets/images/social media/Instagram.png" alt="Instagram" style="width: 35px; height: auto;">
                </a>
        
                <a href="https://www.youtube.com/@RubianoAndy" target="_blank">
                  <img src="assets/images/social media/YouTube.png" alt="YouTube" style="width: 35px; height: auto;">
                </a>
        
                <a href="https://www.x.com/RubianoAndy" target="_blank">
                  <img src="assets/images/social media/X.png" alt="X (Twitter)" style="width: 35px; height: auto;">
                </a>
        
                <a href="https://www.linkedin.com/company/andyrubiano" target="_blank">
                  <img src="assets/images/social media/LinkedIn.png" alt="LinkedIn" style="width: 35px; height: auto;">
                </a>
        
                <a href="https://www.tiktok.com/@RubianoAndy" target="_blank">
                  <img src="assets/images/social media/TikTok.png" alt="TikTok" style="width: 35px; height: auto;">
                </a>
        
                <a href="https://wa.me/573178737226" target="_blank">
                  <img src="assets/images/social media/WhatsApp.png" alt="WhatsApp" style="width: 35px; height: auto;">
                </a>
            </div>
        </div>
    </div>
</div>