<form class="space-y-4" [formGroup]="form" (ngSubmit)="onSubmitForm()">
    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
        <div class="w-full">
            <label for="countryId" class="block font-semibold text-primary dark:text-secondary mb-2"> País <span class="text-red-500">*</span></label>
            <select id="countryId" formControlName="countryId" (change)="changeCountry()"
            [ngClass]="{
                'border-red-500 dark:border-red-500': !form.controls['countryId'].valid,
                'border-green-500 dark:border-green-500': form.controls['countryId'].valid && form.controls['countryId'].touched,
                'text-gray-400 dark:text-gray-400': !form.controls['countryId'].value
            }" class="block w-full px-1 py-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-900 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none">
                <option value="" disabled selected>País</option>
                @for (countriesOption of countriesOptions; track $index) {
                    <option [value]="countriesOption.id" class="text-black dark:text-white">{{ countriesOption.name }}</option>
                }
            </select>
        </div>

        <div class="w-full">
            <label for="departmentId" class="block font-semibold text-primary dark:text-secondary mb-2"> Departamento / Provincia / Estado <span class="text-red-500">*</span></label>
            <select id="departmentId" formControlName="departmentId"
            [ngClass]="{
                'border-red-500 dark:border-red-500': !form.controls['departmentId'].valid,
                'border-green-500 dark:border-green-500': form.controls['departmentId'].valid && form.controls['departmentId'].touched,
                'text-gray-400 dark:text-gray-400': !form.controls['departmentId'].value
            }" class="block w-full px-1 py-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-900 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none">
                <option value="" disabled selected>Departamento / Provincia / Estado</option>
                @for (departmentsOption of departmentsOptions; track $index) {
                    <option [value]="departmentsOption.id" class="text-black dark:text-white">{{ departmentsOption.name }}</option>
                }
            </select>
        </div>
    </div>

    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
        <div class="w-full">
            <label for="city" class="block font-semibold text-primary dark:text-secondary mb-2"> Ciudad <span class="text-red-500">*</span></label>
            <input id="city" autocomplete="off"
                type="text" 
                formControlName="city"
                placeholder="Ciudad"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': !form.controls['city'].valid,
                    'border-green-500 dark:border-green-500': form.controls['city'].valid && form.controls['city'].touched
                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-900 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
            />
        </div>

        <div class="w-full">
            <label for="zipCode" class="block font-semibold text-primary dark:text-secondary mb-2"> Zip / Código postal </label>
            <input id="zipCode" autocomplete="off"
                type="number" 
                formControlName="zipCode"
                placeholder="Zip / Código postal"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': !form.controls['zipCode'].valid,
                    'border-green-500 dark:border-green-500': form.controls['zipCode'].valid && form.controls['zipCode'].touched
                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-900 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
            />
        </div>
    </div>

    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
        <div class="w-full">
            <label for="address" class="block font-semibold text-primary dark:text-secondary mb-2"> Dirección <span class="text-red-500">*</span></label>
            <input id="address" autocomplete="off"
                type="text" 
                formControlName="address"
                placeholder="Dirección"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': !form.controls['address'].valid,
                    'border-green-500 dark:border-green-500': form.controls['address'].valid && form.controls['address'].touched
                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-900 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
            />
        </div>
    </div>

    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
        <div class="w-full">
            <label for="addressObservations" class="block font-semibold text-primary dark:text-secondary mb-2"> Información adicional <span class="text-red-500">*</span></label>
            <textarea id="addressObservations" autocomplete="off" maxlength="500" rows="4" 
                formControlName="addressObservations" 
                placeholder="Información adicional"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': !form.controls['addressObservations'].valid,
                    'border-green-500 dark:border-green-500': form.controls['addressObservations'].valid && form.controls['addressObservations'].touched
                }" 
                class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-900 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none resize-none"
            ></textarea>
        </div>
    </div>

    <div class="flex items-center justify-center space-x-4">
        <div class="w-full md:w-1/3">
            <button type="submit" [disabled]="form.invalid || loading" class="flex flex-1 w-full justify-center text-white bg-primary hover:bg-green-800 font-medium px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-primary disabled:bg-green-400 disabled:opacity-50">Guardar</button>
        </div>
    </div>
</form>