<div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-100 whitespace-nowrap">
            <tr>
                @for (tableFiled of tableFileds; track $index) {
                    <th class="px-4 py-4 text-left text-xs font-semibold text-green-700 uppercase tracking-wider">
                        {{ tableFiled}}
                    </th>
                }
            </tr>
        </thead>

        <tbody class="bg-white divide-y divide-gray-200 whitespace-nowrap">
            @for (user of usersRecords; track $index) {
                <tr>
                    <td class="px-4 py-4 text-sm text-black">
                        {{ user.id }}
                    </td>
                    <td class="px-4 py-4 text-sm text-black">
                        {{ user.name_1 }} {{ user.name_2 }} {{ user.lastname_1 }} {{ user.lastname_2 }}
                    </td>
                    <td class="px-4 py-4 text-sm text-black">
                        {{ user.email }}
                    </td>
                    <td class="px-4 py-4 text-sm text-black">
                        {{ user.role }}
                    </td>
                    <td class="px-4 py-4 text-sm text-black">
                        <label class="relative cursor-pointer">
                            <input type="checkbox" class="sr-only peer" [(ngModel)]="user.activated"/>
                            <div
                              class="w-11 h-6 flex items-center bg-gray-300 rounded-full peer peer-checked:after:translate-x-full after:absolute after:left-[2px] peer-checked:after:border-white after:bg-white after:border after:border-gray-300 after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-green-700">
                            </div>
                        </label>
                    </td>
                    <td class="px-4 py-4 text-sm text-black">
                        {{ user.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}
                    </td>
                    <td class="px-4 py-4 text-sm text-black">
                        <button class="text-blue-600 mr-4"><span class="material-icons-outlined">edit</span></button>
                        <button class="text-red-600"><span class="material-icons-outlined">delete</span></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="md:flex m-4">
        <p class="text-sm text-black flex-1">
            Mostrando {{ startRecord }} a {{ endRecord }} de {{ totalRecords }} registros
        </p>

        <div class="flex items-center max-md:mt-4">
            <p class="text-sm text-black">Display</p>
            <select class="text-sm text-black border border-gray-400 h-7 mx-4 px-1 outline-none">
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
            </select>

            <ul class="flex space-x-1 ml-2">
                <li class="flex items-center justify-center cursor-pointer bg-green-700 text-white w-7 h-7" (click)="previousPage()" [class.disabled]="page <= 1">
                    <span class="material-icons">keyboard_arrow_left</span>
                </li>

                @for (i of [].constructor(endPage - startPage + 1); track $index) {
                    <li class="flex items-center justify-center cursor-pointer text-sm w-7 h-7"
                        [class.bg-green-700]="page === (startPage + $index)"
                        [class.text-white]="page === (startPage + $index)"
                        [class.text-black]="page !== (startPage + $index)"
                        (click)="changePage(startPage + $index)">
                        {{ startPage + $index }}
                    </li>
                }
                
                <li class="flex items-center justify-center cursor-pointer bg-green-700 text-white w-7 h-7" (click)="nextPage()" [class.disabled]="page >= totalPages">
                    <span class="material-icons">keyboard_arrow_right</span>
                </li>
            </ul>
        </div>
    </div>
</div>