<div class="text-black body-font relative">
    <div class="absolute inset-0 bg-gray-200 hidden sm:flex">
        <iframe referrerpolicy="no-referrer-when-downgrade" allowfullscreen
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4728.9410467862535!2d-74.09346232634744!3d4.67408327622629!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9b63a5717de7%3A0x7942f564a48a7765!2sAndy%20Rubiano%E2%84%A2%20-%20Plantas%20carn%C3%ADvoras!5e0!3m2!1ses-419!2sco!4v1730252434971!5m2!1ses-419!2sco"
            class="left-0 top-0 h-full w-full" loading="lazy" frameborder="0">
        </iframe>
    </div>

    <div class="container md:px-8 py-8 mx-auto flex items-center max-md:justify-center">
      <div class="flex flex-col max-w-lg bg-white p-8 md:ml-auto w-full relative xs:mt-0 sm:mt-24 lg:mt-0 sm:shadow-lg">
        <h1 class="text-black text-3xl font-bold mb-4 text-center">Contáctanos</h1>
        
        <!-- <p class="leading-relaxed mb-5 text-black">Post-ironic portland shabby chic echo park, banjo fashion axe</p> -->
        
        <form class="space-y-4" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
                <label for="name" class="block font-semibold text-black mb-2"> Nombre <span class="text-red-500">*</span></label>
                <input id="name" maxlength="80"
                    type="text" 
                    formControlName="name" 
                    placeholder="Nombre"
                    [ngClass]="{
                        'border-red-500': !form.controls['name'].valid && form.controls['name'].touched
                    }" class="border w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline"
                />
            </div>

            <div>
                <label for="email" class="block font-semibold text-black mb-2"> Email <span class="text-red-500">*</span></label>
                <input id="email" maxlength="50"
                    type="email" 
                    formControlName="email" 
                    placeholder="correo@email.com"
                    [ngClass]="{
                        'border-red-500': !form.controls['email'].valid && form.controls['email'].touched
                    }" class="border w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline"
                />
            </div>

            <div>
                <label for="subject" class="block font-semibold text-black mb-2"> Asunto <span class="text-red-500">*</span></label>
                <input id="subject" maxlength="50"
                    type="text" 
                    formControlName="subject" 
                    placeholder="Asunto"
                    [ngClass]="{
                        'border-red-500': !form.controls['subject'].valid && form.controls['subject'].touched
                    }" class="border w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline"
                />
            </div>

            <div>
                <label for="message" class="block font-semibold text-black mb-2"> Mensaje <span class="text-red-500">*</span></label>
                <textarea id="message" maxlength="1000"
                    rows="4"
                    formControlName="message" 
                    placeholder="Mensaje"
                    [ngClass]="{
                        'border-red-500': !form.controls['message'].valid && form.controls['message'].touched
                    }" class="border w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline"
                ></textarea>
            </div>

            <div class="flex items-center mb-4 space-x-4">
                <div class="w-full">
                    <button type="submit" [disabled]="form.invalid" class="flex flex-1 w-full justify-center focus:outline-none text-white bg-green-700 hover:bg-green-800 font-medium px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 disabled:bg-green-400 disabled:opacity-50">Enviar</button>
                </div>
            </div>
        </form>
        <!-- <p class="text-xs text-gray-500 mt-3">Chicharrones blog helvetica normcore iceland tousled brook viral artisan.</p> -->
      </div>
    </div>
</div>