<div (click)="toggleProfilePhoto()" class="flex">
    <img [src]="avatar" loading="lazy" alt="Profile photo"
        class="flex w-40 h-40 transition-opacity duration-300 ease-in-out hover:opacity-50 shadow-lg rounded-lg"
    >
    <div class="cursor-pointer absolute inset-0 flex items-center justify-center transition-opacity duration-300 ease-in-out opacity-0 hover:opacity-100 bg-black bg-opacity-50 rounded-lg">
        <span class="text-white text-lg">Cambiar foto</span>
    </div>

    @if(isUploadAvatar) {
        <div class="flex fixed inset-0 z-10 items-center justify-center p-4 bg-gray-900 bg-opacity-80">
            <div class="relative w-full max-w-md p-9 bg-white dark:bg-gray-950 shadow-lg dark:border dark:border-gray-700">
                <h1 class="text-center text-3xl sm:text-2xl font-semibold mb-4 text-primary dark:text-secondary">Foto de perfil</h1>

                <button type="button" (click)="toggleProfilePhoto($event)" class="absolute top-0 right-0 mt-4 mr-4 text-primary dark:text-white hover:text-red-500 dark:hover:text-red-500 w-6 h-6 transition duration-200">
                    <span class="material-icons text-2xl font-bold">close</span>
                </button>

                <div id="dropZone"
                    (dragover)="onDragOver($event)"
                    (dragleave)="onDragLeave($event)"
                    (drop)="onDrop($event)"
                    [ngClass]="{'
                        border-primary bg-gray-100 dark:bg-gray-800': isDragOver, 'bg-white dark:bg-gray-900': !isDragOver
                    }"
                    class="text-center border-dashed border-2 border-gray-300 transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-md"
                >
                    <label for="fileInput" class="cursor-pointer flex flex-col items-center space-y-2 p-8">
                        <span class="material-icons text-8xl text-black dark:text-white">add</span>
                        <span class="text-black dark:text-white">¡Arrasta y pega tu imagen aquí!</span>
                        <span class="text-gray-500 text-sm">(O da clic para seleccionar tu archivo)</span>
                    </label>
                    <input type="file" id="fileInput" class="hidden" (change)="onFileSelected($event)" accept="image/png, image/jpeg, image/jpg, image/webp"> <!--multiple-->
                </div>
                <!-- <div class="mt-6 text-center" id="fileList"></div> -->
                @if(errorFileMessage) {
                    <div class="mt-4 text-center text-red-500">
                        {{ errorFileMessage }}
                    </div>
                }
            </div>
        </div>
    }
</div>
