<form class="space-y-4" [formGroup]="form" (ngSubmit)="onSubmitForm()">
    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
        <div class="w-full relative">
            <label for="currentPassword" class="block font-semibold text-primary dark:text-secondary mb-2"> Contraseña actual <span class="text-red-500">*</span></label>
            <input id="currentPassword" autocomplete="off"
                [type]="isCurrentPasswordVisible ? 'text' : 'password'" 
                formControlName="currentPassword" 
                placeholder="Contraseña actual"
                (focus)="onPasswordFocus('currentPassword')"
                (blur)="onPasswordBlur('currentPassword')"
                (input)="onCurrentPasswordChange($event)"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': !form.controls['currentPassword'].valid && form.controls['currentPassword'].touched,
                    'border-green-500 dark:border-green-500': form.controls['currentPassword'].valid && form.controls['currentPassword'].touched
                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
            />
            
            <button type="button" (click)="togglePasswordVisibility('currentPassword')" class="absolute flex items-center inset-y-0 right-0 px-3 mt-8">
                <span class="material-icons text-primary dark:text-secondary">{{ isCurrentPasswordVisible ? 'visibility_off' : 'visibility' }}</span>
            </button>

            @if (!form.controls['currentPassword'].valid && isCurrentPasswordFocused) {
                <div class="relative z-10">
                    <div class="w-full max-w-[280px] p-4 bg-gray-100 dark:bg-gray-700 shadow-lg absolute top-2 mt-2 before:w-4 before:h-4 before:rotate-45 before:bg-gray-100 dark:before:bg-gray-700 before:absolute before:-top-2 before:left-6">
                        <div class="my-2">
                            <div class="flex flex-col items-start text-left text-sm text-black dark:text-white">
                                <span>La contraseña debe tener:</span>
                                <div class="flex items-center">
                                    <span class="material-icons mr-2" [ngClass]="currentPasswordCriteria.hasUpperCase ? 'text-green-500' : 'text-red-500'">{{ currentPasswordCriteria.hasUpperCase ? 'check' : 'close' }}</span> Al menos una letra en mayúscula.
                                </div>

                                <div class="flex items-center">
                                    <span class="material-icons mr-2" [ngClass]="currentPasswordCriteria.hasLowerCase ? 'text-green-500' : 'text-red-500'">{{ currentPasswordCriteria.hasLowerCase ? 'check' : 'close' }}</span> Al menos una letra en minúscula.
                                </div>

                                <div class="flex items-center">
                                    <span class="material-icons mr-2" [ngClass]="currentPasswordCriteria.hasSpecialChar ? 'text-green-500' : 'text-red-500'">{{ currentPasswordCriteria.hasSpecialChar ? 'check' : 'close' }}</span> Al menos un carácter especial.
                                </div>

                                <div class="flex items-center">
                                    <span class="material-icons mr-2" [ngClass]="currentPasswordCriteria.hasNumber ? 'text-green-500' : 'text-red-500'">{{ currentPasswordCriteria.hasNumber ? 'check' : 'close' }}</span> Al menos un número.
                                </div>

                                <div class="flex items-center">
                                    <span class="material-icons mr-2" [ngClass]="currentPasswordCriteria.isValidLength ? 'text-green-500' : 'text-red-500'">{{ currentPasswordCriteria.isValidLength ? 'check' : 'close' }}</span> Entre 8 y 20 caracteres.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="w-full relative">
            <label for="newPassword" class="block font-semibold text-primary dark:text-secondary mb-2"> Nueva contraseña <span class="text-red-500">*</span></label>
            <input id="newPassword" autocomplete="off"
                [type]="isNewPasswordVisible ? 'text' : 'password'" 
                formControlName="newPassword" 
                placeholder="Nueva contraseña"
                (focus)="onPasswordFocus('newPassword')"
                (blur)="onPasswordBlur('newPassword')"
                (input)="onNewPasswordChange($event)"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': !form.controls['newPassword'].valid && form.controls['newPassword'].touched,
                    'border-green-500 dark:border-green-500': form.controls['newPassword'].valid && form.controls['newPassword'].touched
                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
            />
            
            <button type="button" (click)="togglePasswordVisibility('newPassword')" class="absolute flex items-center inset-y-0 right-0 px-3 mt-8">
                <span class="material-icons text-primary dark:text-secondary">{{ isNewPasswordVisible ? 'visibility_off' : 'visibility' }}</span>
            </button>

            @if (!form.controls['newPassword'].valid && isNewPasswordFocused) {
                <div class="relative z-10">
                    <div class="w-full max-w-[280px] p-4 bg-gray-100 dark:bg-gray-700 shadow-lg absolute top-2 mt-2 before:w-4 before:h-4 before:rotate-45 before:bg-gray-100 dark:before:bg-gray-700 before:absolute before:-top-2 before:left-6">
                        <div class="my-2">
                            <div class="flex flex-col items-start text-left text-sm text-black dark:text-white">
                                <span>La contraseña debe tener:</span>
                                <div class="flex items-center">
                                    <span class="material-icons mr-2" [ngClass]="newPasswordCriteria.hasUpperCase ? 'text-green-500' : 'text-red-500'">{{ newPasswordCriteria.hasUpperCase ? 'check' : 'close' }}</span> Al menos una letra en mayúscula.
                                </div>

                                <div class="flex items-center">
                                    <span class="material-icons mr-2" [ngClass]="newPasswordCriteria.hasLowerCase ? 'text-green-500' : 'text-red-500'">{{ newPasswordCriteria.hasLowerCase ? 'check' : 'close' }}</span> Al menos una letra en minúscula.
                                </div>

                                <div class="flex items-center">
                                    <span class="material-icons mr-2" [ngClass]="newPasswordCriteria.hasSpecialChar ? 'text-green-500' : 'text-red-500'">{{ newPasswordCriteria.hasSpecialChar ? 'check' : 'close' }}</span> Al menos un carácter especial.
                                </div>

                                <div class="flex items-center">
                                    <span class="material-icons mr-2" [ngClass]="newPasswordCriteria.hasNumber ? 'text-green-500' : 'text-red-500'">{{ newPasswordCriteria.hasNumber ? 'check' : 'close' }}</span> Al menos un número.
                                </div>

                                <div class="flex items-center">
                                    <span class="material-icons mr-2" [ngClass]="newPasswordCriteria.isValidLength ? 'text-green-500' : 'text-red-500'">{{ newPasswordCriteria.isValidLength ? 'check' : 'close' }}</span> Entre 8 y 20 caracteres.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="flex items-center mb-4 space-x-4">
        <div class="w-full">
            <button type="submit" [disabled]="form.invalid || loading" class="flex flex-1 w-full justify-center text-white bg-primary hover:bg-green-800 font-medium px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-primary disabled:bg-green-400 disabled:opacity-50">Cambiar contraseña</button>
        </div>
    </div>
</form>