<nav class='dark:border-b dark:border-white bg-secondary dark:bg-black max-h-[70px]'>
    <div class="flex max-w-screen-2xl mx-auto max-md:py-2 items-center justify-center">
        <div class="group relative hidden md:flex px-10 py-4 bg-primary items-center cursor-pointer text-white">
            <span class="material-icons-outlined mr-2">store</span> Productos
            <span class="material-icons ml-2 transition-transform duration-300 group-hover:rotate-180">keyboard_arrow_down</span>

            <ul class='absolute z-10 shadow-lg text-black dark:text-white bg-white dark:bg-gray-800 md:top-14 left-0 min-w-[250px] max-h-0 overflow-hidden group-hover:opacity-100 group-hover:max-h-[700px] group-hover:py-2 transition-all duration-500'>
                @for (category of categories; track $index) {
                    <li>
                        <a [routerLink]="category.url" class="flex items-center w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-600 hover:font-semibold" role="menuitem">
                            {{ category.label }}
                        </a>
                    </li>
                }
            </ul>
        </div>

        <div class="flex container items-center justify-end md:justify-between flex-grow pl-12">
            <div class="hidden md:flex items-center space-x-6">
                @for (navbarOption of navbarOptions; track $index) {
                    <a [routerLink]='navbarOption.url' routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class='block font-semibold text-black hover:text-white dark:text-white dark:hover:text-blue-600'>
                        {{ navbarOption.label }}
                    </a>
                }
            </div>

            <div class='flex items-center justify-center space-x-6 pr-4'>
                <!-- <div class="relative">
                    <span class="material-icons-outlined inline cursor-pointer text-white hover:text-red-700 text-3xl">favorite</span>
                    <span class="absolute left-auto -ml-1 top-0 rounded-full bg-red-600 px-1 py-0 text-xs text-white">0</span>
                </div> -->

                <div class="relative">
                    <span class="material-icons-outlined inline cursor-pointer text-black dark:text-white hover:text-blue-600 dark:hover:text-blue-600 text-3xl">notifications_active</span>
                    <span class="absolute left-auto -ml-1 top-0 rounded-full bg-red-600 px-1 py-0 text-xs text-white">0</span>
                </div>
    
                <div class="relative">
                    <span class="material-icons-outlined inline cursor-pointer text-black dark:text-white hover:text-blue-600 dark:hover:text-blue-600 text-3xl">shopping_cart</span>
                    <span class="absolute left-auto -ml-1 top-0 rounded-full bg-red-600 px-1 py-0 text-xs text-white">0</span>
                </div>

                <div class="relative">
                    <app-dark-mode-toggle />
                </div>
    
                <!-- <span class="relative lg:hidden block">
                    <span class="material-icons inline cursor-pointer text-black hover:text-primary text-3xl">search</span>
                </span> -->
        
                <button id="toggleOpen" (click)="toggleMenu()" class="lg:hidden block text-black dark:text-secondary hover:text-blue-600 dark:hover:text-blue-600">
                    <span class="material-icons text-4xl flex items-center">menu</span>
                </button>
            </div>
        </div>
    </div>

    <div class="fixed inset-0 z-10 transition-opacity duration-500" [ngClass]="{'opacity-100 visible': isMenuOpen, 'opacity-0 invisible': !isMenuOpen}">
        <div class="fixed inset-0 bg-black bg-opacity-50 border-b border-gray-200" (click)="toggleMenu()">
        </div>
    </div>

    <div [ngClass]="{'translate-x-0': isMenuOpen, '-translate-x-full': !isMenuOpen}" class="lg:hidden fixed left-0 top-0 bottom-0 z-10 bg-white dark:bg-black w-[250px] shadow-lg h-full transition-transform duration-500 text-sm">
        <div class='relative flex flex-col h-full'>

            <div class="flex flex-wrap items-center justify-center cursor-pointer relative mt-4">
                <a routerLink='/' (click)="toggleMenu()">
                    <img [src]='logo' class="w-32" />
                </a>
            </div>

            <div class="px-4">
                <hr class="my-6" />
            </div>

            <div>
                <!-- <h4 class="text-primary font-semibold mb-4">Productos</h4> -->
                <button (click)="toggleSubMenu()" class="flex w-full px-4 py-4 bg-primary items-center cursor-pointer text-white hover:text-secondary">
                    <span class="material-icons-outlined mr-4">store</span> Productos
                    <span [ngClass]="{'rotate-180': isSubMenuOpen}" class="material-icons ml-2 transition-transform duration-300">keyboard_arrow_down</span>
                </button>

                <ul [ngClass]="{'max-h-[500px] opacity-100': isSubMenuOpen, 'max-h-0 opacity-0': !isSubMenuOpen}" class="transition-all duration-500 overflow-hidden pl-2">
                    @for (category of categories; track $index) {
                        <li>
                            <a [routerLink]='category.url' (click)="toggleMenu()" class="flex items-center w-full text-left px-4 py-2 text-black dark:text-white hover:text-blue-700 dark:hover:text-blue-700" role="menuitem">
                                <span class="material-icons-outlined mr-4">local_florist</span> {{ category.label }}
                            </a>
                        </li>
                    }
                </ul>
            </div>

            <div class="flex flex-col h-full px-4">
                <hr class="my-6" />
                
                <div>
                    <h4 class="text-primary dark:text-secondary font-semibold mb-4">Navegación</h4>

                    <ul class="space-y-4 px-2 flex-1 ">
                        @for (navbarOption of navbarOptions; track $index) {
                            <li>
                                <a [routerLink]="navbarOption.url" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenu()" class="flex items-center w-full text-black dark:text-white hover:text-blue-600 dark:hover:text-blue-600 transition-all">
                                    <span class="material-icons-outlined mr-4">{{ navbarOption.icon }}</span> {{ navbarOption.label }}
                                </a>
                            </li>
                        }
                    </ul>
                </div>

                <hr class="my-6" />

                <div class="flex-1">
                    <h4 class="text-primary dark:text-secondary font-semibold mb-4">Navegación</h4>

                    <ul class="space-y-4 px-2 flex-1 ">
                        @for (navbarOption of navbarOptions; track $index) {
                            <li>
                                <a [routerLink]="navbarOption.url" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenu()" class="flex items-center w-full text-black dark:text-white hover:text-blue-600 dark:hover:text-blue-600 transition-all">
                                    <span class="material-icons-outlined mr-4">{{ navbarOption.icon }}</span> {{ navbarOption.label }}
                                </a>
                            </li>
                        }
                    </ul>
                </div>

                <hr class="my-6" />

                <div class="my-4">
                    <ul class="space-y-4 px-2">
                    <li>
                        <a href="javascript:void(0)" class="text-black dark:text-white text-sm flex items-center hover:text-blue-600 dark:hover:text-blue-600 transition-all">
                        <span class="material-icons-outlined mr-2 text-primary">settings</span> Configuración
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="text-black dark:text-white text-sm flex items-center hover:text-blue-600 dark:hover:text-blue-600 transition-all">
                        <span class="material-icons-outlined mr-2 text-primary">person</span> Perfil
                        </a>
                    </li>
                    </ul>
        
                    <!-- <div class="flex flex-wrap items-center cursor-pointer border-t py-2 mt-6">
                    <img src='https://readymadeui.com/team-2.webp' class="w-10 h-10 rounded-md border-2 border-white" />
                    <div class="ml-4">
                        <p class="text-sm text-[#333] font-semibold">John Doe</p>
                        <p class="text-xs text-gray-400 mt-0.5">Active free account</p>
                    </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- <ul class='relative flex flex-col h-full'>
            <li>
                <a routerLink='/' routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenu()" class="flex items-center w-full text-left px-4 py-2 hover:bg-gray-100 hover:text-blue-700 hover:font-semibold" role="menuitem">
                    Home
                </a>
            </li>

            <li>
                <button (click)="toggleSubMenu()" class="flex items-center w-full text-left px-4 py-2 hover:bg-gray-100 hover:text-blue-700 hover:font-semibold">
                    Opciones <span class="material-icons ml-auto transition-transform duration-300" [ngClass]="{'rotate-180': isSubMenuOpen}">keyboard_arrow_down</span>
                </button>
                
                <ul [ngClass]="{'max-h-[500px] opacity-100': isSubMenuOpen, 'max-h-0 opacity-0': !isSubMenuOpen}" class="transition-all duration-500 overflow-hidden pl-4 space-y-2">
                    <li>
                        <a routerLink='/opcion1' (click)="toggleMenu()" class="flex items-center w-full text-left px-4 py-2 hover:bg-gray-100 hover:text-blue-700" role="menuitem">
                            Opción 1
                        </a>
                    </li>
                    <li>
                        <a routerLink='/opcion2' (click)="toggleMenu()" class="flex items-center w-full text-left px-4 py-2 hover:bg-gray-100 hover:text-blue-700" role="menuitem">
                            Opción 2
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a routerLink='/about' routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenu()" class="flex items-center w-full text-left px-4 py-2 hover:bg-gray-100 hover:text-blue-700 hover:font-semibold" role="menuitem">
                    About
                </a>
            </li>

            <li>
                <a routerLink='/contact' routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenu()" class="flex items-center w-full text-left px-4 py-2 hover:bg-gray-100 hover:text-blue-700 hover:font-semibold" role="menuitem">
                    Contact
                </a>
            </li>
        </ul> -->
    </div>
</nav>