<div class="space-y-4 text-justify pb-4">
    <p>
        En Andy Rubiano™ - Plantas carnívoras, valoramos tu privacidad y nos comprometemos a proteger cualquier información personal 
        que compartas con nosotros. Esta Política de privacidad describe cómo recopilamos, usamos y protegemos tu información cuando 
        visitas nuestra página web y utilizas nuestros servicios.
    </p>

    <p>
        Recopilamos información personal que nos proporcionas directamente como tu nombre, número de identificación, fecha de nacimiento, 
        dirección de correo electrónico, número de teléfono y cualquier otro dato que elijas compartir con nosotros. También obtenemos 
        datos automáticamente a través de tecnologías como cookies cuando interactúas con nuestra página web. Todo esta esta información 
        se utiliza para:
    </p>


    <ul class="list-disc pl-5">
        <li>
            Proporcionar, operar, y mantener nuestros servicios. 
        </li>

        <li>
            Mejorar y personalizar tu experiencia en nuestro sitio web. 
        </li>

        <li>
            Comunicarnos contigo, incluyendo responder a tus preguntas, enviar actualizaciones y ofrecer soporte al cliente. 
        </li>

        <li>
            Entender y analizar cómo utilizas nuestro sitio web y servicios. 
        </li>

        <li>
            Cumplir con cualquier obligación legal o regulatoria. 
        </li>
    </ul>

    <p>
        No compartimos, vendemos, o alquilamos tu información personal a terceros, excepto en las siguientes circunstancias:
    </p>

    <ul class="list-disc pl-5">
        <li>
            Con tu consentimiento explícito. 
        </li>

        <li>
            Con proveedores externos que nos ayudan a operar nuestro sitio web, productos y servicios, siempre que dichos proveedores 
            cumplan con nuestras políticas de privacidad. 
        </li>

        <li>
            Si es necesario para cumplir con la ley, responder a una solicitud gubernamental o proteger nuestros derechos y propiedad. 
        </li>
    </ul>

    <h2 class="font-semibold">Seguridad de la información</h2>

    <p>
        Implementamos medidas de seguridad razonables para proteger tu información personal contra accesos no autorizados, alteraciones, 
        divulgaciones o destrucción, sin embargo, ninguna transmisión de datos a través de Internet es completamente segura, por lo que 
        no podemos garantizar la seguridad absoluta de tu información.
    </p>

    <h2 class="font-semibold">Cookies</h2>

    <p>
        Utilizamos cookies y tecnologías similares para mejorar tu experiencia en nuestra página web. Puedes configurar tu navegador para 
        rechazar cookies o para que te notifique cuando se estén utilizando. Ten en cuenta que algunas partes de nuestro sitio web pueden 
        no funcionar correctamente si desactivas las cookies.
    </p>

    <h2 class="font-semibold">Enlaces a otros sitios</h2>

    <p>
        Nuestro sitio web puede contener enlaces a páginas de terceros y no somos responsables de las prácticas de privacidad ni del 
        contenido de dichos sitios. Te recomendamos revisar las políticas de privacidad de cualquier sitio web que visites.
    </p>

    <h2 class="font-semibold">Modificaciones a esta política de privacidad</h2>

    <p>
        Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento, pero te notificaremos sobre cualquier cambio 
        publicando a través de esta página, te recomendamos revisarla periódicamente para estar informado de cómo protegemos tu información.
    </p>

    <h2 class="font-semibold">Contacto</h2>

    <p>
        Si tienes alguna pregunta, inquietud o sugerencia, no dudes en contactarnos a través de nuestros canales de comunicación disponibles dando clic 
        <a class="cursor-pointer text-blue-600 hover:underline" [href]="url + 'contact'" target="_blank">aquí</a>.
    </p>
</div>