<footer class="bg-gray-100 py-14 px-16 relative">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
    <div>
      <h2 class="text-black text-lg font-semibold mb-4">Quick Links</h2>
      
      <ul class="space-y-4">
        <li>
          <a href="javascript:void(0)" class="text-black hover:text-black text-sm transition-all">Newsroom</a>
        </li>

        <li>
          <a href="javascript:void(0)" class="text-black hover:text-black text-sm transition-all">Tailwind CSS</a>
        </li>
        
        <li>
          <a href="javascript:void(0)" class="text-black hover:text-black text-sm transition-all">Careers</a>
        </li>
      </ul>
    </div>

    <div>
      <h2 class="text-black text-lg font-semibold mb-4">Follow Us</h2>

      <ul class="space-y-4">
        <li>
          <a href="javascript:void(0)" class="text-black hover:text-black text-sm transition-all">Github</a>
        </li>

        <li>
          <a href="javascript:void(0)" class="text-black hover:text-black text-sm transition-all">linkedin</a>
        </li>

        <li>
          <a href="javascript:void(0)" class="text-black hover:text-black text-sm transition-all">Twitter</a>
        </li>
      </ul>
    </div>

    <div>
      <h2 class="text-black text-lg font-semibold mb-4">Compañía</h2>

      <ul class="space-y-4">
        <li>
          <a routerLink="contact" class="text-black hover:text-black text-sm transition-all">Contáctanos</a>
        </li>

        <li>
          <a routerLink="privacy-policy" class="text-black hover:text-black text-sm transition-all">Política de privacidad</a>
        </li>
        
        <li>
          <a href="javascript:void(0)" class="text-black hover:text-black text-sm transition-all">Términos y condiciones</a>
        </li>
      </ul>
    </div>

    <div class="flex items-center lg:justify-end">
      <a href='javascript:void(0)'><img [src]="logo" alt="logo" class='w-60' /></a>
    </div>
  </div>

  <hr class="my-8 border-gray-600" />

  <div class="flex sm:justify-between flex-wrap gap-6">
    <div class="flex space-x-3">
      <!-- URL de descarga de íconos tamaño 48px X 48px https://iconos8.es/icons/set/social-media -->
      <a href="https://www.facebook.com/RubianoAndy" target="_blank">
        <img src="assets/images/social media/Facebook.png" alt="Facebook" class="w-5 h-5">
      </a>
      
      <a href="https://www.instagram.com/RubianoAndy" target="_blank">
        <img src="assets/images/social media/Instagram.png" alt="Instagram" class="w-5 h-5">
      </a>
      
      <a href="https://www.youtube.com/@RubianoAndy" target="_blank">
        <img src="assets/images/social media/YouTube.png" alt="YouTube" class="w-5 h-5">
      </a>
      
      <a href="https://www.x.com/RubianoAndy" target="_blank">
        <img src="assets/images/social media/X.png" alt="X (Twitter)" class="w-5 h-5">
      </a>
      
      <a href="https://www.linkedin.com/company/andyrubiano" target="_blank">
        <img src="assets/images/social media/LinkedIn.png" alt="LinkedIn" class="w-5 h-5">
      </a>

      <a href="https://www.tiktok.com/@RubianoAndy" target="_blank">
        <img src="assets/images/social media/TikTok.png" alt="TikTok" class="w-5 h-5">
      </a>
      
      <a href="https://wa.me/573178737226" target="_blank">
        <img src="assets/images/social media/WhatsApp.png" alt="WhatsApp" class="w-5 h-5">
      </a>
    </div>

    <p class='text-black text-sm'>&copy; {{ currentYear }} <a href="https://YouTube.com/@RubianoAndy" target="_blank" class="hover:underline hover:text-green-700">
      {{ page }}</a>. Todos los derechos reservados.
    </p>
  </div>
</footer>