<div class="flex flex-col">
    <h1 class="text-xl sm:text-3xl font-semibold text-primary dark:text-secondary mb-4">Perfil</h1>

    <div class="flex mx-auto items-center relative mb-6">
        <div class="flex">
            <img 
                src="assets/images/avatar/Avatar.png" 
                alt="Profile photo" 
                class="flex w-40 h-40 transition-opacity duration-300 ease-in-out hover:opacity-50 shadow-lg"
            >
            <div class="cursor-pointer absolute inset-0 flex items-center justify-center transition-opacity duration-300 ease-in-out opacity-0 hover:opacity-100 bg-black bg-opacity-50">
                <span class="text-white text-lg">Cambiar foto</span>
            </div>
        </div>
    </div>

    <div class="w-full max-w-2xl mx-auto px-8">
        <hr class="text-gray-200 dark:text-gray-800 w-full my-4">

        <div class="accordion">
            <div (click)="toggleAccordion('form1')" class="cursor-pointer flex items-center text-lg sm:text-2xl text-center font-semibold text-primary dark:text-secondary mb-4">
                <h2>Datos personales</h2>
                <span class="material-icons ml-auto">{{ isAccordionForm1Open ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</span>
            </div>

            <div [ngClass]="{'max-h-full opacity-100': isAccordionForm1Open, 'max-h-0 opacity-0': !isAccordionForm1Open}" class="transition-all duration-500 overflow-hidden space-y-2">
                <form class="space-y-4" [formGroup]="form1" (ngSubmit)="onSubmitForm1()">
                    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
                        <div class="w-full">
                            <label for="name_1" class="block font-semibold text-primary dark:text-secondary mb-2"> Primer nombre <span class="text-red-500">*</span></label>
                            <input id="name_1" autocomplete="off"
                                type="text" 
                                formControlName="name_1"
                                placeholder="Primer nombre"
                                [ngClass]="{
                                    'border-red-500 dark:border-red-500': !form1.controls['name_1'].valid,
                                    'border-green-500 dark:border-green-500': form1.controls['name_1'].valid && form1.controls['name_1'].touched
                                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
                            />
                        </div>

                        <div class="w-full">
                            <label for="name_2" class="block font-semibold text-primary dark:text-secondary mb-2"> Segundo nombre </label>
                            <input id="name_2" autocomplete="off"
                                type="text" 
                                formControlName="name_2"
                                placeholder="Segundo nombre"
                                [ngClass]="{
                                    'border-red-500 dark:border-red-500': !form1.controls['name_2'].valid,
                                    'border-green-500 dark:border-green-500': form1.controls['name_2'].valid && form1.controls['name_2'].touched
                                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
                            />
                        </div>
                    </div>
                    
                    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
                        <div class="w-full">
                            <label for="lastname_1" class="block font-semibold text-primary dark:text-secondary mb-2"> Primer apellido <span class="text-red-500">*</span></label>
                            <input id="lastname_1" autocomplete="off"
                                type="text" 
                                formControlName="lastname_1"
                                placeholder="Primer apellido"
                                [ngClass]="{
                                    'border-red-500 dark:border-red-500': !form1.controls['lastname_1'].valid,
                                    'border-green-500 dark:border-green-500': form1.controls['lastname_1'].valid && form1.controls['lastname_1'].touched
                                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
                            />
                        </div>

                        <div class="w-full">
                            <label for="lastname_2" class="block font-semibold text-primary dark:text-secondary mb-2"> Segundo apellido </label>
                            <input id="lastname_2" autocomplete="off"
                                type="text" 
                                formControlName="lastname_2" 
                                placeholder="Segundo apellido"
                                [ngClass]="{
                                    'border-red-500 dark:border-red-500': !form1.controls['lastname_2'].valid,
                                    'border-green-500 dark:border-green-500': form1.controls['lastname_2'].valid && form1.controls['lastname_2'].touched
                                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
                            />
                        </div>
                    </div>

                    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
                        <div class="w-full">
                            <label for="dniType" class="block font-semibold text-primary dark:text-secondary mb-2"> Tipo de documento <span class="text-red-500">*</span></label>
                            <select id="dniType" formControlName="dniType"
                            [ngClass]="{
                                'border-red-500 dark:border-red-500': !form1.controls['dniType'].valid,
                                'border-green-500 dark:border-green-500': form1.controls['dniType'].valid && form1.controls['dniType'].touched,
                                'text-gray-400 dark:text-gray-400': !form1.controls['dniType'].value
                            }" class="block w-full px-1 py-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-white shadow-lg">
                                <option value="" disabled selected>Tipo de documento</option>
                                @for (dniOption of dniOptions; track $index) {
                                    <option [value]="dniOption.value" class="text-black dark:text-white">{{ dniOption.label }}</option>
                                }
                            </select>
                        </div>

                        <div class="w-full">
                            <label for="dni" class="block font-semibold text-primary dark:text-secondary mb-2"> Documento de identificación <span class="text-red-500">*</span></label>
                            <input id="dni" autocomplete="off"
                                type="text" 
                                formControlName="dni" 
                                placeholder="Documento de identificación"
                                [ngClass]="{
                                    'border-red-500 dark:border-red-500': !form1.controls['dni'].valid,
                                    'border-green-500 dark:border-green-500': form1.controls['dni'].valid && form1.controls['dni'].touched
                                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
                            />
                        </div>
                    </div>

                    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
                        <div class="w-full">
                            <label for="prefix" class="block font-semibold text-primary dark:text-secondary mb-2"> Prefijo <span class="text-red-500">*</span></label>
                            <select id="prefix" formControlName="prefix"
                            [ngClass]="{
                                'border-red-500 dark:border-red-500': !form1.controls['prefix'].valid,
                                'border-green-500 dark:border-green-500': form1.controls['prefix'].valid && form1.controls['prefix'].touched,
                                'text-gray-400 dark:text-gray-400': !form1.controls['prefix'].value
                            }" class="block w-full px-1 py-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-white shadow-lg">
                                <option value="" disabled selected>Prefijo</option>
                                @for (prefixOption of prefixOptions; track $index) {
                                    <option [value]="prefixOption.prefix" class="text-black dark:text-white">{{ prefixOption.name }} ({{ prefixOption.prefix }})</option>
                                }
                            </select>
                        </div>

                        <div class="w-full">
                            <label for="mobile" class="block font-semibold text-primary dark:text-secondary mb-2"> Número de celular <span class="text-red-500">*</span></label>
                            <input id="mobile" autocomplete="off"
                                type="number" 
                                formControlName="mobile" 
                                placeholder="Número de celular"
                                [ngClass]="{
                                    'border-red-500 dark:border-red-500': !form1.controls['mobile'].valid,
                                    'border-green-500 dark:border-green-500': form1.controls['mobile'].valid && form1.controls['mobile'].touched
                                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
                            />
                        </div>
                    </div>

                    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
                        <div class="w-full">
                            <label for="email" class="block font-semibold text-primary dark:text-secondary mb-2"> Email </label>
                            <input id="email" autocomplete="off"
                                type="email" 
                                formControlName="email" 
                                placeholder="Email"
                                [ngClass]="{
                                    'border-red-500 dark:border-red-500': !form1.controls['email'].valid,
                                    'border-green-500 dark:border-green-500': form1.controls['email'].valid && form1.controls['email'].touched
                                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
                            />
                        </div>
                    </div>

                    <div class="flex items-center mb-4 space-x-4">
                        <div class="w-full">
                            <button type="submit" [disabled]="form1.invalid || loading" class="flex flex-1 w-full justify-center text-white bg-primary hover:bg-green-800 font-medium px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-primary disabled:bg-green-400 disabled:opacity-50">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <hr class="text-gray-200 dark:text-gray-800 w-full my-4">

        <div class="accordion">
            <div (click)="toggleAccordion('form2')" class="cursor-pointer flex items-center text-lg sm:text-2xl text-center font-semibold text-primary dark:text-secondary mb-4">
                <h2>Cambiar contraseña</h2>
                <span class="material-icons ml-auto">{{ isAccordionForm2Open ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</span>
            </div>

            <div [ngClass]="{'max-h-[500px] opacity-100 overflow-visible': isAccordionForm2Open, 'max-h-0 opacity-0 overflow-hidden': !isAccordionForm2Open}" class="transition-all duration-500 space-y-2 overflow-hidden">
                <form class="space-y-4" [formGroup]="form2" (ngSubmit)="onSubmitForm2()">
                    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
                        <div class="w-full relative">
                            <label for="currentPassword" class="block font-semibold text-primary dark:text-secondary mb-2"> Contraseña actual <span class="text-red-500">*</span></label>
                            <input id="currentPassword" autocomplete="off"
                                [type]="isCurrentPasswordVisible ? 'text' : 'password'" 
                                formControlName="currentPassword" 
                                placeholder="Contraseña actual"
                                (focus)="onPasswordFocus('currentPassword')"
                                (blur)="onPasswordBlur('currentPassword')"
                                (input)="onCurrentPasswordChange($event)"
                                [ngClass]="{
                                    'border-red-500 dark:border-red-500': !form2.controls['currentPassword'].valid && form2.controls['currentPassword'].touched,
                                    'border-green-500 dark:border-green-500': form2.controls['currentPassword'].valid && form2.controls['currentPassword'].touched
                                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
                            />
                            
                            <button type="button" (click)="togglePasswordVisibility('currentPassword')" class="absolute flex items-center inset-y-0 right-0 px-3 mt-8">
                                <span class="material-icons text-primary dark:text-secondary">{{ isCurrentPasswordVisible ? 'visibility_off' : 'visibility' }}</span>
                            </button>

                            @if (!form2.controls['currentPassword'].valid && isCurrentPasswordFocused) {
                                <div class="relative z-10">
                                    <div class="w-full max-w-[280px] p-4 bg-gray-100 dark:bg-gray-700 shadow-lg absolute top-2 mt-2 before:w-4 before:h-4 before:rotate-45 before:bg-gray-100 dark:before:bg-gray-700 before:absolute before:-top-2 before:left-6">
                                        <div class="my-2">
                                            <div class="flex flex-col items-start text-left text-sm text-black dark:text-white">
                                                <span>La contraseña debe tener:</span>
                                                <div class="flex items-center">
                                                    <span class="material-icons mr-2" [ngClass]="currentPasswordCriteria.hasUpperCase ? 'text-green-500' : 'text-red-500'">{{ currentPasswordCriteria.hasUpperCase ? 'check' : 'close' }}</span> Al menos una letra en mayúscula.
                                                </div>

                                                <div class="flex items-center">
                                                    <span class="material-icons mr-2" [ngClass]="currentPasswordCriteria.hasLowerCase ? 'text-green-500' : 'text-red-500'">{{ currentPasswordCriteria.hasLowerCase ? 'check' : 'close' }}</span> Al menos una letra en minúscula.
                                                </div>

                                                <div class="flex items-center">
                                                    <span class="material-icons mr-2" [ngClass]="currentPasswordCriteria.hasSpecialChar ? 'text-green-500' : 'text-red-500'">{{ currentPasswordCriteria.hasSpecialChar ? 'check' : 'close' }}</span> Al menos un carácter especial.
                                                </div>

                                                <div class="flex items-center">
                                                    <span class="material-icons mr-2" [ngClass]="currentPasswordCriteria.hasNumber ? 'text-green-500' : 'text-red-500'">{{ currentPasswordCriteria.hasNumber ? 'check' : 'close' }}</span> Al menos un número.
                                                </div>

                                                <div class="flex items-center">
                                                    <span class="material-icons mr-2" [ngClass]="currentPasswordCriteria.isValidLength ? 'text-green-500' : 'text-red-500'">{{ currentPasswordCriteria.isValidLength ? 'check' : 'close' }}</span> Entre 8 y 20 caracteres.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="w-full relative">
                            <label for="newPassword" class="block font-semibold text-primary dark:text-secondary mb-2"> Nueva contraseña <span class="text-red-500">*</span></label>
                            <input id="newPassword" autocomplete="off"
                                [type]="isNewPasswordVisible ? 'text' : 'password'" 
                                formControlName="newPassword" 
                                placeholder="Nueva contraseña"
                                (focus)="onPasswordFocus('newPassword')"
                                (blur)="onPasswordBlur('newPassword')"
                                (input)="onNewPasswordChange($event)"
                                [ngClass]="{
                                    'border-red-500 dark:border-red-500': !form2.controls['newPassword'].valid && form2.controls['newPassword'].touched,
                                    'border-green-500 dark:border-green-500': form2.controls['newPassword'].valid && form2.controls['newPassword'].touched
                                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
                            />
                            
                            <button type="button" (click)="togglePasswordVisibility('newPassword')" class="absolute flex items-center inset-y-0 right-0 px-3 mt-8">
                                <span class="material-icons text-primary dark:text-secondary">{{ isNewPasswordVisible ? 'visibility_off' : 'visibility' }}</span>
                            </button>

                            @if (!form2.controls['newPassword'].valid && isNewPasswordFocused) {
                                <div class="relative z-10">
                                    <div class="w-full max-w-[280px] p-4 bg-gray-100 dark:bg-gray-700 shadow-lg absolute top-2 mt-2 before:w-4 before:h-4 before:rotate-45 before:bg-gray-100 dark:before:bg-gray-700 before:absolute before:-top-2 before:left-6">
                                        <div class="my-2">
                                            <div class="flex flex-col items-start text-left text-sm text-black dark:text-white">
                                                <span>La contraseña debe tener:</span>
                                                <div class="flex items-center">
                                                    <span class="material-icons mr-2" [ngClass]="newPasswordCriteria.hasUpperCase ? 'text-green-500' : 'text-red-500'">{{ newPasswordCriteria.hasUpperCase ? 'check' : 'close' }}</span> Al menos una letra en mayúscula.
                                                </div>

                                                <div class="flex items-center">
                                                    <span class="material-icons mr-2" [ngClass]="newPasswordCriteria.hasLowerCase ? 'text-green-500' : 'text-red-500'">{{ newPasswordCriteria.hasLowerCase ? 'check' : 'close' }}</span> Al menos una letra en minúscula.
                                                </div>

                                                <div class="flex items-center">
                                                    <span class="material-icons mr-2" [ngClass]="newPasswordCriteria.hasSpecialChar ? 'text-green-500' : 'text-red-500'">{{ newPasswordCriteria.hasSpecialChar ? 'check' : 'close' }}</span> Al menos un carácter especial.
                                                </div>

                                                <div class="flex items-center">
                                                    <span class="material-icons mr-2" [ngClass]="newPasswordCriteria.hasNumber ? 'text-green-500' : 'text-red-500'">{{ newPasswordCriteria.hasNumber ? 'check' : 'close' }}</span> Al menos un número.
                                                </div>

                                                <div class="flex items-center">
                                                    <span class="material-icons mr-2" [ngClass]="newPasswordCriteria.isValidLength ? 'text-green-500' : 'text-red-500'">{{ newPasswordCriteria.isValidLength ? 'check' : 'close' }}</span> Entre 8 y 20 caracteres.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="flex items-center mb-4 space-x-4">
                        <div class="w-full">
                            <button type="submit" [disabled]="form2.invalid || loading" class="flex flex-1 w-full justify-center text-white bg-primary hover:bg-green-800 font-medium px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-primary disabled:bg-green-400 disabled:opacity-50">Cambiar contraseña</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <hr class="text-gray-200 dark:text-gray-800 w-full my-4">

        <div class="accordion">
            <div (click)="toggleAccordion('form3')" class="cursor-pointer flex items-center text-lg sm:text-2xl text-center font-semibold text-primary dark:text-secondary mb-4">
                <h2>Dirección de envío</h2>
                <span class="material-icons ml-auto">{{ isAccordionForm3Open ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</span>
            </div>

            <div [ngClass]="{'max-h-[500px] opacity-100': isAccordionForm3Open, 'max-h-0 opacity-0': !isAccordionForm3Open}" class="transition-all duration-500 overflow-hidden space-y-2">
                <form class="space-y-4" [formGroup]="form3" (ngSubmit)="onSubmitForm3()">
                    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
                        <div class="w-full">
                            <label for="countryId" class="block font-semibold text-primary dark:text-secondary mb-2"> País <span class="text-red-500">*</span></label>
                            <select id="countryId" formControlName="countryId" (change)="changeCountry()"
                            [ngClass]="{
                                'border-red-500 dark:border-red-500': !form3.controls['countryId'].valid,
                                'border-green-500 dark:border-green-500': form3.controls['countryId'].valid && form3.controls['countryId'].touched,
                                'text-gray-400 dark:text-gray-400': !form3.controls['countryId'].value
                            }" class="block w-full px-1 py-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-white shadow-lg">
                                <option value="" disabled selected>País</option>
                                @for (countriesOption of countriesOptions; track $index) {
                                    <option [value]="countriesOption.id" class="text-black dark:text-white">{{ countriesOption.name }}</option>
                                }
                            </select>
                        </div>

                        <div class="w-full">
                            <label for="departmentId" class="block font-semibold text-primary dark:text-secondary mb-2"> Departamento / Provincia / Estado <span class="text-red-500">*</span></label>
                            <select id="departmentId" formControlName="departmentId"
                            [ngClass]="{
                                'border-red-500 dark:border-red-500': !form3.controls['departmentId'].valid,
                                'border-green-500 dark:border-green-500': form3.controls['departmentId'].valid && form3.controls['departmentId'].touched,
                                'text-gray-400 dark:text-gray-400': !form3.controls['departmentId'].value
                            }" class="block w-full px-1 py-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-white shadow-lg">
                                <option value="" disabled selected>Departamento / Provincia / Estado</option>
                                @for (departmentsOption of departmentsOptions; track $index) {
                                    <option [value]="departmentsOption.id" class="text-black dark:text-white">{{ departmentsOption.name }}</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
                        <div class="w-full">
                            <label for="city" class="block font-semibold text-primary dark:text-secondary mb-2"> Ciudad <span class="text-red-500">*</span></label>
                            <input id="city" autocomplete="off"
                                type="text" 
                                formControlName="city"
                                placeholder="Ciudad"
                                [ngClass]="{
                                    'border-red-500 dark:border-red-500': !form3.controls['city'].valid,
                                    'border-green-500 dark:border-green-500': form3.controls['city'].valid && form3.controls['city'].touched
                                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
                            />
                        </div>

                        <div class="w-full">
                            <label for="zipCode" class="block font-semibold text-primary dark:text-secondary mb-2"> Zip / Código postal </label>
                            <input id="zipCode" autocomplete="off"
                                type="number" 
                                formControlName="zipCode"
                                placeholder="Zip / Código postal"
                                [ngClass]="{
                                    'border-red-500 dark:border-red-500': !form3.controls['zipCode'].valid,
                                    'border-green-500 dark:border-green-500': form3.controls['zipCode'].valid && form3.controls['zipCode'].touched
                                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
                            />
                        </div>
                    </div>

                    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
                        <div class="w-full">
                            <label for="address" class="block font-semibold text-primary dark:text-secondary mb-2"> Dirección <span class="text-red-500">*</span></label>
                            <input id="address" autocomplete="off"
                                type="text" 
                                formControlName="address"
                                placeholder="Dirección"
                                [ngClass]="{
                                    'border-red-500 dark:border-red-500': !form3.controls['address'].valid,
                                    'border-green-500 dark:border-green-500': form3.controls['address'].valid && form3.controls['address'].touched
                                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
                            />
                        </div>
                    </div>

                    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
                        <div class="w-full">
                            <label for="addressObservations" class="block font-semibold text-primary dark:text-secondary mb-2"> Información adicional <span class="text-red-500">*</span></label>
                            <textarea id="addressObservations" autocomplete="off" maxlength="500" rows="4" 
                                formControlName="addressObservations" 
                                placeholder="Información adicional"
                                [ngClass]="{
                                    'border-red-500 dark:border-red-500': !form3.controls['addressObservations'].valid,
                                    'border-green-500 dark:border-green-500': form3.controls['addressObservations'].valid && form3.controls['addressObservations'].touched
                                }" 
                                class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none resize-none"
                            ></textarea>
                        </div>
                    </div>

                    <div class="flex items-center mb-4 space-x-4">
                        <div class="w-full">
                            <button type="submit" [disabled]="form3.invalid || loading" class="flex flex-1 w-full justify-center text-white bg-primary hover:bg-green-800 font-medium px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-primary disabled:bg-green-400 disabled:opacity-50">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <hr class="text-gray-200 dark:text-gray-800 w-full my-4">
    </div>
</div>