<div class="flex flex-col">
    <h1 class="text-xl sm:text-3xl font-semibold text-primary dark:text-secondary mb-4">Perfil</h1>

    <div class="flex mx-auto items-center relative mb-6">
        <div class="flex">
            <img 
                src="assets/images/avatar/Avatar.png" 
                alt="Profile photo" 
                class="flex w-40 h-40 transition-opacity duration-300 ease-in-out hover:opacity-50 shadow-lg"
            >
            <div class="cursor-pointer absolute inset-0 flex items-center justify-center transition-opacity duration-300 ease-in-out opacity-0 hover:opacity-100 bg-black bg-opacity-50">
                <span class="text-white text-lg">Cambiar foto</span>
            </div>
        </div>
    </div>

    <div class="w-full max-w-2xl mx-auto px-8">
        <hr class="text-gray-200 dark:text-gray-800 w-full my-4">

        <div class="accordion">
            <div (click)="toggleAccordion('form1')" class="cursor-pointer flex items-center text-lg sm:text-2xl text-center font-semibold text-primary dark:text-secondary mb-4">
                <h2>Datos personales</h2>
                <span class="material-icons ml-auto">{{ isAccordionForm1Open ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</span>
            </div>

            <div [ngClass]="{'max-h-full opacity-100': isAccordionForm1Open, 'max-h-0 opacity-0': !isAccordionForm1Open}" class="transition-all duration-500 overflow-hidden space-y-2">
                <app-personal-information />                
            </div>
        </div>

        <hr class="text-gray-200 dark:text-gray-800 w-full my-4">

        <div class="accordion">
            <div (click)="toggleAccordion('form2')" class="cursor-pointer flex items-center text-lg sm:text-2xl text-center font-semibold text-primary dark:text-secondary mb-4">
                <h2>Cambiar contraseña</h2>
                <span class="material-icons ml-auto">{{ isAccordionForm2Open ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</span>
            </div>

            <div [ngClass]="{'max-h-[500px] opacity-100 overflow-visible': isAccordionForm2Open, 'max-h-0 opacity-0 overflow-hidden': !isAccordionForm2Open}" class="transition-all duration-500 space-y-2 overflow-hidden">
                <app-change-password />
            </div>
        </div>

        <hr class="text-gray-200 dark:text-gray-800 w-full my-4">

        <div class="accordion">
            <div (click)="toggleAccordion('form3')" class="cursor-pointer flex items-center text-lg sm:text-2xl text-center font-semibold text-primary dark:text-secondary mb-4">
                <h2>Dirección de envío</h2>
                <span class="material-icons ml-auto">{{ isAccordionForm3Open ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</span>
            </div>

            <div [ngClass]="{'max-h-[500px] opacity-100': isAccordionForm3Open, 'max-h-0 opacity-0': !isAccordionForm3Open}" class="transition-all duration-500 overflow-hidden space-y-2">
                <app-shipping-information />
            </div>
        </div>

        <hr class="text-gray-200 dark:text-gray-800 w-full my-4">
    </div>
</div>