<form class="space-y-4" [formGroup]="form" (ngSubmit)="onSubmitForm()">
    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
        <div class="w-full">
            <label for="name_1" class="block font-semibold text-primary dark:text-secondary mb-2"> Primer nombre <span class="text-red-500">*</span></label>
            <input id="name_1" autocomplete="off"
                type="text" 
                formControlName="name_1"
                placeholder="Primer nombre"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': !form.controls['name_1'].valid && !form.controls['name_1'].disabled,
                    'border-green-500 dark:border-green-500': form.controls['name_1'].valid && form.controls['name_1'].touched,
                    'cursor-not-allowed': form.controls['name_1'].disabled
                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-900 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
            />
        </div>

        <div class="w-full">
            <label for="name_2" class="block font-semibold text-primary dark:text-secondary mb-2"> Segundo nombre </label>
            <input id="name_2" autocomplete="off"
                type="text" 
                formControlName="name_2"
                placeholder="Segundo nombre"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': !form.controls['name_2'].valid && !form.controls['name_2'].disabled,
                    'border-green-500 dark:border-green-500': form.controls['name_2'].valid && form.controls['name_2'].touched,
                    'cursor-not-allowed': form.controls['name_2'].disabled
                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-900 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
            />
        </div>
    </div>
    
    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
        <div class="w-full">
            <label for="lastname_1" class="block font-semibold text-primary dark:text-secondary mb-2"> Primer apellido <span class="text-red-500">*</span></label>
            <input id="lastname_1" autocomplete="off"
                type="text" 
                formControlName="lastname_1"
                placeholder="Primer apellido"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': !form.controls['lastname_1'].valid && !form.controls['lastname_1'].disabled,
                    'border-green-500 dark:border-green-500': form.controls['lastname_1'].valid && form.controls['lastname_1'].touched,
                    'cursor-not-allowed': form.controls['lastname_1'].disabled
                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-900 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
            />
        </div>

        <div class="w-full">
            <label for="lastname_2" class="block font-semibold text-primary dark:text-secondary mb-2"> Segundo apellido </label>
            <input id="lastname_2" autocomplete="off"
                type="text" 
                formControlName="lastname_2" 
                placeholder="Segundo apellido"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': !form.controls['lastname_2'].valid && !form.controls['lastname_2'].disabled,
                    'border-green-500 dark:border-green-500': form.controls['lastname_2'].valid && form.controls['lastname_2'].touched,
                    'cursor-not-allowed': form.controls['lastname_2'].disabled
                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-900 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
            />
        </div>
    </div>

    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
        <div class="w-full">
            <label for="dniType" class="block font-semibold text-primary dark:text-secondary mb-2"> Tipo de documento <span class="text-red-500">*</span></label>
            <select id="dniType" formControlName="dniType"
            [ngClass]="{
                'border-red-500 dark:border-red-500': !form.controls['dniType'].valid && !form.controls['dniType'].disabled,
                'border-green-500 dark:border-green-500': form.controls['dniType'].valid && form.controls['dniType'].touched,
                'text-gray-400 dark:text-gray-400': !form.controls['dniType'].value,
                'cursor-not-allowed': form.controls['dniType'].disabled
            }" class="block w-full px-1 py-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-900 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none">
                <option value="" disabled selected>Tipo de documento</option>
                @for (dniOption of dniOptions; track $index) {
                    <option [value]="dniOption.value" class="text-black dark:text-white">{{ dniOption.label }}</option>
                }
            </select>
        </div>

        <div class="w-full">
            <label for="dni" class="block font-semibold text-primary dark:text-secondary mb-2"> Documento de identificación <span class="text-red-500">*</span></label>
            <input id="dni" autocomplete="off"
                type="text" 
                formControlName="dni" 
                placeholder="Documento de identificación"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': !form.controls['dni'].valid && !form.controls['dni'].disabled,
                    'border-green-500 dark:border-green-500': form.controls['dni'].valid && form.controls['dni'].touched,
                    'cursor-not-allowed': form.controls['dni'].disabled
                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-900 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
            />
        </div>
    </div>

    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
        <div class="w-full">
            <label for="prefix" class="block font-semibold text-primary dark:text-secondary mb-2"> Prefijo <span class="text-red-500">*</span></label>
            <select id="prefix" formControlName="prefix"
            [ngClass]="{
                'border-red-500 dark:border-red-500': !form.controls['prefix'].valid && !form.controls['prefix'].disabled,
                'border-green-500 dark:border-green-500': form.controls['prefix'].valid && form.controls['prefix'].touched,
                'text-gray-400 dark:text-gray-400': !form.controls['prefix'].value,
                'cursor-not-allowed': form.controls['prefix'].disabled
            }" class="block w-full px-1 py-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-900 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none">
                <option value="" disabled selected>Prefijo</option>
                @for (prefixOption of prefixOptions; track $index) {
                    <option [value]="prefixOption.prefix" class="text-black dark:text-white">{{ prefixOption.name }} ({{ prefixOption.prefix }})</option>
                }
            </select>
        </div>

        <div class="w-full">
            <label for="mobile" class="block font-semibold text-primary dark:text-secondary mb-2"> Número de celular <span class="text-red-500">*</span></label>
            <input id="mobile" autocomplete="off"
                type="text" 
                formControlName="mobile" 
                placeholder="Número de celular"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': !form.controls['mobile'].valid && !form.controls['mobile'].disabled,
                    'border-green-500 dark:border-green-500': form.controls['mobile'].valid && form.controls['mobile'].touched,
                    'cursor-not-allowed': form.controls['mobile'].disabled
                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-900 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
            />
        </div>
    </div>

    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
        <div class="w-full">
            <label for="email" class="block font-semibold text-primary dark:text-secondary mb-2"> Email </label>
            <input id="email" autocomplete="off"
                type="email" 
                formControlName="email" 
                placeholder="Email"
                [ngClass]="{
                    'border-red-500 dark:border-red-500': !form.controls['email'].valid && !form.controls['email'].disabled,
                    'border-green-500 dark:border-green-500': form.controls['email'].valid && form.controls['email'].touched,
                    'cursor-not-allowed': form.controls['email'].disabled
                }" class="block w-full p-2 bg-white border border-gray-200 text-black text-sm dark:bg-gray-900 dark:border-gray-700 dark:text-white shadow-lg focus:outline-none"
            />
        </div>
    </div>

    <div class="flex items-center mb-4 space-x-4">
        <div class="w-full">
            <button type="submit" [disabled]="form.invalid || loading" class="flex flex-1 w-full justify-center text-white bg-primary hover:bg-green-800 font-medium px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-primary disabled:bg-green-400 disabled:opacity-50">Guardar</button>
        </div>
    </div>
</form>